<div id="kt_toolbar_container" [ngClass]="toolbarContainerCssClasses" class="d-flex flex-stack flex-wrap">
  <app-page-title #ktPageTitle class="page-title d-flex" [ngClass]="pageTitleCssClasses"></app-page-title>

  <!-- begin::Actions  -->
 
  <!-- end::Actions  -->
</div>
