<div class="card flex justify-content-center">
  <div class="card shadow-sm">
      <div class="card-header">
          <h3 class="card-title">Detail Karyawan</h3>
      </div>
      <form >
      <div class="card-body">
          <div class="mb-2">
              <label for="exampleFormControlInput1" class="required form-label">Username</label>
              <input type="text" class="form-control" value="{{ username }}" readonly />
          </div>
          <div class="mb-2">
              <label for="exampleFormControlInput1" class="required form-label">Firstname</label>
              <input type="text" class="form-control" value="{{ firstname }}" readonly/>
          </div>
          <div class="mb-2">
              <label for="exampleFormControlInput1" class="required form-label">Lastname</label>
              <input type="text" class="form-control" value="{{ lastname }}" readonly/>
          </div>
          <div class="mb-2">
              <label for="exampleFormControlInput1" class="required form-label">Email</label>
              <input type="email" class="form-control" value="{{ email }}" readonly />
          </div>
          <div class="mb-2">
              <label for="exampleFormControlInput1" class="required form-label">Birthdate</label>
              <input type="date" class="form-control" value="{{ birthdate }}" readonly />
          </div>
          <div class="mb-2">
              <label for="exampleFormControlInput1" class="required form-label">Basic Salary</label>
              <input type="float" class="form-control" placeholder="0" value="{{ basicsalary }}" readonly>
          </div>
          <div class="mb-2 w-12">
              <label for="exampleFormControlInput1" class="required form-label">Status</label>
              <input type="text" class="form-control" value="{{ status }}" readonly />
          </div>
          <div class="mb-2 w-12">
              <label for="exampleFormControlInput1" class="required form-label">Group</label>
              <input type="text" class="form-control" value="{{ group }}" readonly />
          </div>
          <div class="mb-2">
              <label for="exampleFormControlInput1" class="required form-label">Join Date</label>
              <input type="date" class="form-control" value="{{ joindate }}" readonly/>
          </div>
      </div>
      <div class="card-footer">
          <a href="/employee" class="btn btn-primary">OK</a>
      </div>
      </form>
  </div>
</div>




