<div class="card flex justify-content-center">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Tambah Karyawan</h3>
        </div>
        <form [formGroup]="reactiveForm" (ngSubmit)="submit()">
        <div class="card-body">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="required form-label">Username</label>
                <input type="text" class="form-control" placeholder="test1" formControlName="username" required/>
                @if (reactiveForm.get('username')?.errors?.['required'] || reactiveForm.get('username')?.value == '' && reactiveForm.get('username')?.touched) {
                    <p style="color:red">Username tidak boleh kosong</p>
                }
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="required form-label">Firstname</label>
                <input type="text" class="form-control" placeholder="satria" formControlName="firstname" required/>
                @if (reactiveForm.get('firstname')?.errors?.['required'] || reactiveForm.get('firstname')?.value == '' && reactiveForm.get('firstname')?.touched) {
                    <p style="color:red">Firstname tidak boleh kosong</p>
                }
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="required form-label">Lastname</label>
                <input type="text" class="form-control" placeholder="sanusi" formControlName="lastname" required/>
                @if (reactiveForm.get('lastname')?.errors?.['required'] || reactiveForm.get('lastname')?.value == '' && reactiveForm.get('lastname')?.touched) {
                    <p style="color:red">Lastname tidak boleh kosong</p>
                }
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="required form-label">Email</label>
                <input type="email" class="form-control" placeholder="pat@example.com" formControlName="emails" required/>
                @if(reactiveForm.get('emails')?.errors)
                {
                    @if (reactiveForm.get('emails')?.errors?.['required'] || reactiveForm.get('emails')?.value == '' && reactiveForm.get('emails')?.touched) {
                        <p style="color:red">Email tidak boleh kosong</p>
                    }
                    @if (reactiveForm.get('emails')?.errors?.['email'] && reactiveForm.get('emails')?.touched) {
                        <p style="color:red">Format email salah</p>
                    }
                }
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="required form-label">Birthdate</label>
                <input type="date" class="form-control"  formControlName="birthdate"  required />
                @if (reactiveForm.get('birthddate')?.errors?.['required'] || reactiveForm.get('birthdate')?.value == ''  && reactiveForm.get('birthdate')?.touched) {
                    <p style="color:red">Bithdate tidak boleh kosong</p>
                }
                @if (reactiveForm.get('birthdate')?.value > '{{ Date }}'  && reactiveForm.get('birthdate')?.touched) {
                    <p style="color:red">Bithdate tidak boleh melebihi hari ini</p>
                }
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="required form-label">Basic Salary</label>
                <input type="number" class="form-control"  formControlName="basicsalary"  required />
                @if (reactiveForm.get('basicsalary')?.errors?.['required'] || reactiveForm.get('basicsalary')?.value == ''  && reactiveForm.get('basicsalary')?.touched) {
                    <p style="color:red">Basic salary tidak boleh kosong</p>
                } 
            </div>
            <div class="mb-2 w-12">
                <label for="exampleFormControlInput1" class="required form-label">Status</label>
                <br>
                <p-dropdown
                    [options]="status" 
                    [filter]="true" 
                    optionLabel="name" 
                    formControlName="selectedStatus" 
                    placeholder="Select Status"
                    />
            </div>
            <div class="mb-2 w-12">
                <label for="exampleFormControlInput1" class="required form-label">Group</label>
                <br>
                <p-dropdown 
                    [options]="group" 
                    [filter]="true" 
                    optionLabel="groups" 
                    formControlName="selectedGroup" 
                    placeholder="Select Group" />
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="required form-label">Join Date</label>
                <input type="date" class="form-control"  formControlName="joindate" required />
                @if (reactiveForm.get('joindate')?.errors?.['required'] || reactiveForm.get('joindate')?.value == ''  && reactiveForm.get('joindate')?.touched) {
                    <p style="color:red">Joindate tidak boleh kosong</p>
                }
            </div>
        </div>
        <div class="card-footer">
            @if (reactiveForm.invalid)
            {
                <p style="color:red">Semua atribute wajib diisi dengan benar</p>
            }
            <button type="submit" [disabled]="reactiveForm.invalid" class="btn btn-primary">Simpan</button> &nbsp;
            <a href="/employee" class="btn btn-danger">Batal</a>
        </div>
        </form>
    </div>
</div>
  
  
  
  
  