<div class="card flex justify-content-center">
  <p-card header="Employee List"><a href="/addemployee" class="btn btn-sm btn-primary">Tambah</a>
      <p class="m-0">
        <p-table
        #dt2
        [value]="employees"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50, 100]"
        [loading]="loading"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '75rem' }"
        [globalFilterFields]="['username', 'email']"
    >
        
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="username" style="width:22%">Username<p-sortIcon field="username" /></th>
                <th pSortableColumn="email" style="width:22%">Email<p-sortIcon field="email" /></th>
                <th style="width:22%">Aksi</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter 
                        type="text" 
                        field="name" 
                        placeholder="Search by name" 
                        ariaLabel="Filter Name" />
                </th>
                <th>
                    <p-columnFilter 
                        type="text" 
                        field="email" 
                        placeholder="Search by email" 
                        ariaLabel="Filter Email" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employees >
            <tr>
                <td>
                    {{ employees.username }}
                </td>
                <td>
                    {{ employees.email }}
                </td>
                <td><a class="btn btn-sm btn-warning" href="/editemployee"
                  >Edit</a>&nbsp;<a href="" class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-employees>
            <tr>
                <td colspan="5">No employees found.</td>
            </tr>
        </ng-template>
        </p-table>
      </p>
  </p-card>
</div>




