<!-- Dashboard -->


<!-- Layout Builder -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/employee"
  ><span class="menu-title" >Employee</span></a
  >
</div>

<!-- Crafted -->

<!-- Apps -->


<!-- MegaMenu -->

